* {
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
  font-family: sans-serif;
  margin: 0;
  --header-size: 4rem;
  /* --video-margin: 0.5rem; */
}

/* Nav Bar */
#header {
  background: rgb(80, 80, 80);
  margin: 0;
  color: white;
  padding: 1rem;
  padding-bottom: 0;
  height: var(--header-size);
}

#session-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

#session-title,
.nav-buttons-container {
  display: inline-block;
}

.video-container {
  width: 100%;
  height: calc(100vh - var(--header-size));
  position: absolute;
  display: flex;
  align-items: center;
}

.video-centering {
  width: 100%;
  display: grid;
  max-height: 100%;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
  --video-ratio: calc(720 / 1280); /* Ratio of the video */
  --col-amount: 1; /* Amount of columns, default 1 column, 1 row = 1 video */
  /* Setting the row height to be a factor of the video ratio and the amount of columns */
  grid-template-rows: calc((100vw / var(--col-amount)) * var(--video-ratio));
  /* Setting the columns to rely on given column amount variable */
  grid-template-columns: repeat(var(--col-amount), 1fr);
}

.video-two-col .video-centering {
  --col-amount: 2;
}

.video-three-col .video-centering {
  --col-amount: 3;
}

/* Stream */
.stream-container {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  margin-bottom: 0;
}

.video-status-icons {
  position: absolute;
  bottom: 1rem; /* plus padding */
  left: 1rem; /* plus padding */
  z-index: 99;
}
.video-status-icons .MuiSvgIcon-root {
  fill: rgb(255, 0, 89);
}

video {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

/* Form Styles */
.meeting-form {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.btn {
  border: 1px solid black;
  background: transparent;
  border-radius: 10rem;
  padding: 0.5rem;
  transition: 0.3s all;
  cursor: pointer;
}

.btn:hover {
  background: lightgray;
}

.btn:focus {
  outline: none;
}

.meeting-form .btn,
.meeting-form .input {
  margin: 0.5rem;
}

.input {
  border: 1px solid grey;
  border-radius: 10rem;
  padding: 0.5rem;
}

.input:focus {
  outline: none;
}

.MuiDialog-paper {
  padding: 1.5rem;
}

.MuiTypography-h6 {
  text-align: center;
}

.MuiSvgIcon-root.person-none {
  width: 100%;
  height: 100%;
}

.MuiSvgIcon-root.person-icon {
  width: 5rem;
  height: auto;
}

.dialog-stream-icon {
  width: 5rem;
  height: auto;
  margin: 1rem;
}

.MuiButton-outlined.pin-dialog {
  width: -webkit-fill-available;
}
