* {
  box-sizing: border-box;
}

body {
  margin: 0;
  --header-size: 3rem;
}

.video-room {
  width: 100%;
  height: 100%;
}

/* Nav Bar */
#header {
  background: rgb(80, 80, 80);
  color: white;
  padding-left: 0.5rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-content: center;
}

#session-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

#session-title,
.nav-buttons-container {
  display: inline-block;
}

.video-container {
  height: calc(100vh - var(--header-size));
  width: 100%;
  --col-amount: 1; /* Amount of columns, default 1 column */
  --row-amount: 1; /* Amount of rows, default 1 row */
  display: grid;
  grid-column-gap: 0.25rem;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(var(--row-amount), 1fr);
  grid-template-columns: repeat(var(--col-amount), 1fr);
}

.video-two-col {
  --col-amount: 2;
  --row-amount: 1;
  object-fit: contain;
}

.video-two-col video {
  height: 100%;
  width: 100%;
}
.video-three-col {
  --col-amount: 3;
  --row-amount: 1;
}

.video-three-col video {
  height: 100%;
  width: 100%;
}

.video-four-col {
  --col-amount: 2;
  --row-amount: 2;
  /* height: 100%; */
}

.video-four-col video {
  width: 90%;
}

.video-full-col {
  --col-amount: 3;
  --row-amount: 2;
}

.video-full-col video {
  height: 100%;
  width: 100%;
}

/* Video Streams */
.stream-container {
  /* height: 100%; */
  width: 100%;
  position: relative;
  background: black;
  margin-bottom: 0;
  text-align: center;
}

.video-status-icons {
  position: absolute;
  bottom: 1rem; /* plus padding */
  left: 1rem; /* plus padding */
  z-index: 99;
}
.video-status-icons .MuiSvgIcon-root {
  fill: rgb(255, 0, 89);
}

video {
  object-fit: contain;
}

/* Welcome Form Background */
.meeting-form {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background: #ffffff;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  font-family: Avenir Next;
  color: #000000;
}

.meeting-form-contents {
  margin-top: 5rem;
}

/* Welcome to your meeting */
.meeting-form-header {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

/* Your Meeting URL */
.meeting-form-label {
  font-size: 12px;
  line-height: 16px;
}

/* Your Audio + Video Settings */
.meeting-form-label.media-settings {
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

.meeting-form-input {
  width: 216.93px;
  height: 33.5px;
  /* background: #ffffff; */
  border: 1px solid #bfd4ed;
  box-sizing: border-box;
  border-radius: 2px;
}

/* (Other participants will see this) */
.meeting-form-info {
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
}

.meeting-form-icons {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.meeting-form-icon.mic-icon {
  margin-right: 1rem;
}

.meeting-form-icon-background {
  display: flex;
  justify-content: center;
  width: 3.5rem;
  height: 3rem;
  /* top: 5px; */
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.meeting-form-icon-background svg {
  transform: translateY(0.25rem);
}

.meeting-form-icon-background.false {
  background: #ec9090;
}

.meeting-form-icon-background.true {
  background: #ffffff;
}

.meeting-form-icon-cap {
  font-size: 10px;
  line-height: 14px;
}

.join-btn {
  /* position: absolute; */
  font-weight: bold;
  /* height: */
  width: 40%;
  color: white;
  background: #0177b5;
  border-radius: 4px;
  box-shadow: none;
  padding: 0.75rem;
  border-style: none;
  margin-bottom: 1rem;
}

.meeting-form-help {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: auto;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  color: #0177b5;
  background: inherit;
  text-shadow: none;
  border-radius: 0.2em;
  border-bottom: none;
  border-left: none;

  transition: none;
}

.btn {
  border: 1px solid black;
  background: transparent;
  border-radius: 10rem;
  padding: 0.5rem;
  transition: 0.3s all;
  cursor: pointer;
}

.btn:hover {
  background: lightgray;
}

.btn:focus {
  outline: none;
}

.meeting-form .btn,
.meeting-form .input {
  margin: 0.5rem;
}

.input {
  border: 1px solid grey;
  border-radius: 10rem;
  padding: 0.5rem;
}

.input:focus {
  outline: none;
}

.MuiDialog-paper {
  padding: 1.5rem;
}

.MuiTypography-h6 {
  text-align: center;
}

.MuiListItem-root.MuiListItem-gutters {
  display: flex;
  justify-content: space-between;
}

.MuiSvgIcon-root.person-icon {
  width: 5rem;
  height: auto;
}

.MuiButton-outlined.dialog-submit {
  width: -webkit-fill-available;
}

.dialog-video-icon video {
  height: 100%;
  width: auto;
}

.dialog-username {
  margin: 1rem;
  font-weight: bolder;
}
